/* Header Top */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background: var(--header-bg);
}

.header-top {
    justify-content: space-between;
}

.nav__item {
    padding: 8px 21px;
}

.header-action__login,
.nav__link {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.nav__item:hover .nav__link,
.nav__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::before {
    position: relative;
    top: -3px;
    right: 8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__signup {
    --height: 44px;
    margin-left: 28px;
    min-width: 104px;
    font-size: 1.6rem;
}

/* Hero */
.hero {
    margin-top: 76px;
}

.hero__content {
    width: 44.18%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__cta {
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero__media {
    justify-content: flex-end;
    flex-grow: 1;
}

.hero__images {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__images:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__images:last-child {
    width: 210px;
    height: 410px;

}
